@import url(http://fonts.googleapis.com/css?family=Ubuntu+Mono:700);

.countdowns{
  width: 200px;
}

.countdown{
  position: relative;
}

.countdown-delete{
  color: #8E8E8E;
  display: none;
}

.countdown:hover .countdown-delete{
  display: inline-block;
}

progress {
 appearance: none;
 position: relative;
 padding: 0;
 border: none;
 font-family: "Ubuntu Mono", sans-serif;
 font-size: 120px;
 transition: height .4s;
 width: auto;
}

progress.hidden {
  height: 0;
  transition-delay: .4s;
}

progress::before {
  content: attr(value);
  position: relative;
  height:auto;
  text-align: center;
  line-height: .7;
  color: hsla(0,0%,0%,.2);
  background: linear-gradient( 
      hsla(0,0%,0%,.8),
      hsla(0,0%,0%,.2) 70% ) 
      no-repeat center;
  background-position: inherit;
  -webkit-background-clip: text;
  background-clip: text;
  display: inline-block;
}


progress::-webkit-progress-bar,
progress::-webkit-progress-value {
 background: transparent;
}