<div class="row">
    <div class="col-md-4 col-md-offset-2">
        <div class="clock-my">
            <div class="clock-time">
                <%= my_time %>
            </div>
            <div class="clock-weather clock-my-weather">
            </div>
            <i class="fa fa-refresh clock-update-timezone-geo clickable" data-toggle="tooltip" data-placement="top" title="Update My Location and Timezone"></i>
        </div>
    </div>
    <% if(typeof partner_time !== 'undefined'){ %>
    <div class="col-md-4">
        <div class="clock-partner">
            <div class="clock-time">
                <%= partner_time %>
            </div>
            <div class="clock-weather clock-partner-weather">
            </div>
        </div>
    </div>
    <% } %>

</div>